<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#/user/" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </p>
        <a class="navbar-brand" >
            Network
        </a>
        </p>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li ng-repeat="user in model.users" class="list-group-item list-group-item-info">
            <a href="#/user/{{user.username}}/review">{{user.username}}</a>
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
