<div class="container-fluid">
    <form name="form" role="form">
        <div class="form-group"
             ng-class="{ 'has-error': form.name.$error.required && model.checkitem}">
            <label for="widget-name">Name</label>
            <input ng-model="model.widget.name"
                   id="widget-name" name="name" type="text"
                   class="form-control" placeholder="HEADER"/>
        </div>

        <div class="form-group">
            <label for="widget-text">Text</label>
            <input ng-model="model.widget.text"
                   id="widget-text"
                   type="text"
                   class="form-control"
                   placeholder="This Is My Text"/>
        </div>

        <div class="form-group">
            <label for="widget-rows">Rows</label>
            <input ng-model="model.widget.rows"
                   id="widget-rows"
                   type="number"
                   class="form-control"
                   placeholder="1">
        </div>

        <div class="form-group">
            <label for="widget-placeholder">Placeholder</label>
            <input ng-model="model.widget.placeholder"
                   id="widget-placeholder" type="text" class="form-control" placeholder="Placeholder">
        </div>

        <div class="form-group">

            <div class="input-group">
                <input type="text"
                       class="form-control"
                       value="Formatted"
                       readonly>
                <span class="input-group-addon">
                    <input ng-model="model.widget.formatted"
                           type="checkbox">
                </span>
            </div>
        </div>

        <a  ng-click="model.deleteWidget()"
            class="btn btn-block btn-danger">
            Delete
        </a>
    </form>
</div>